#main

  form#composer(method="post", action="message")
    label(for="composer") Say Something:
    br
    input(type="text", name="content", autofocus=true)
    br
    button(type="submit") Shout

  #userMessages
    div Stuff you are saying
    ul
      != partial("message", userMessages)

  #commentedOnMessages
    div Stuff you are commenting on
    ul
      != partial("message", commentedOnMessages)

  #globalMessages
    div What other people are saying:
    ul
      != partial("message", globalMessages)

script(src="/socket.io/socket.io.js", type="text/javascript")
script(src="/js/anon.js", type="text/javascript")
