!!! 5
html
  head
    title ...
    script(src="/js/jquery.min.js", type="text/javascript")
    link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")

  body
    !{body}
